{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Paper Recommender</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Research Paper Recommender</h1>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'home' %}" class= "{% if active_page == 'home' %}active{% endif %}">HOME</a></li>
                <li><a href="">RECOMMENDATIONS</a></li>
             
                <li><a href="{% url 'history' %}" class="{% if active_page == 'history' %}active{% endif %}">HISTORY</a></li>
               
                <li class="profile-item">
                    <a href="">
                        <img src="{% static 'images/profile-icon.png' %}" alt="Profile" class="profile-icon">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>